.container.error,
.container.isLoading {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.error p:first-child {
  font-size: 2rem;
}

.title {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
}

.container hr {
  margin-block: 2rem;
  width: 70%;
}
