.gameGridHeading {
  margin-block-start: 2rem;
  text-align: center;
}

.gameGridFilters {
  display: none;
}

@media screen and (min-width: 768px) {
  .gameGridDrawer {
    display: none;
  }

  .gameGridFilters {
    display: block;
    margin-block: 2rem 1rem;
  }
}
