[data-scheme="dark"] .container {
  --container-background: var(--surface-secondary);
  --container-border: 2px solid var(--surface-secondary);
  --container-hover-border: 2px solid var(--neutral-700);

  --dropdown-background: var(--surface-secondary);

  --item-hover-background: var(--neutral-700);
}

[data-scheme="light"] .container {
  --container-background: var(--surface-primary);
  --container-border: var(--border-primary);
  --container-hover-border: var(--border-primary);

  --dropdown-background: var(--surface-primary);
  --dropdown-border: var(--border-primary);

  --item-hover-background: var(--neutral-200);
}

.container {
  background: var(--container-background);
  border: var(--container-border);
  border-radius: 0.3rem;
  display: inline-block;
  min-width: 10rem;
  height: 2.5rem;
  position: relative;
}

.container:hover {
  border: var(--container-hover-border);
  text-decoration: underline;
}

.button {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
}

.label {
  flex: 1;
  text-align: left;
  margin-inline-end: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.icon {
  pointer-events: none;
  margin-right: 0.5rem;
}

.caret {
  pointer-events: none;
  transition: transform 0.3s;
}

.dropdown {
  background: var(--dropdown-background);
  border: var(--dropdown-border);
  border-radius: 0.3rem;
  position: absolute;
  margin: 0;
  padding: 0.5rem;
  left: 0;
  top: 0;
  top: calc(2.5rem + 3px);
  width: 100%;
  max-height: 250px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
  z-index: 1;
  display: none;
}

.item {
  list-style: none;
  width: 100%;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
  text-align: left;
}

.selected {
  font-weight: bold;
}

.focused,
.item:hover {
  background: var(--item-hover-background);
}

.expanded {
  display: block;
}

.container:has(.expanded) .caret {
  transform: rotate(180deg);
}
